body {
    font-family: Arial, sans-serif;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #a9b6fc;
}

button {
    width: 100px;
    height: 40px;
    background-color: #344ee0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: #344ee0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f0f0f0;
}

.centralizar-imagem {
    display: block;
    margin: 0 auto;
}

h1 {
    align-items: center;
    color: #344ee0;

}

.titulo-centralizado {
    text-align: center;
}

.botao-espacado {
    margin-bottom: 20px;
}